@model PROG_POE_PART_2.Model.Product
@{
    ViewData["Title"] = "Create Product";

}

<h1>Create Product</h1>
<form asp-controller="Home" asp-action="CreateProduct" asp-route-farmerId="@ViewBag.farmerId" method="post">
    <div class="mb-3" >
        <label for="" class="form-label">Product Name</label>
        <input type="text" class="form-control" asp-for="ProductName"/>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Product Price</label>
        <input type="text" class="form-control" asp-for="ProductPrice" />
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Product Stock</label>
        <input type="number" class="form-control" asp-for="ProductStock" />
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Product Type</label>
        <input type="text" class="form-control" asp-for="ProductType" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

