@model PROG_POE_PART_2.Model.Product
@{
    ViewData["Title"] = "Create Product";

}

<h1>Create Product</h1>
@{
    if(ViewBag.error == true)
    {
        <p style="color:red;">Ensure all fields are filled in</p>
    }
}
<form asp-controller="Home" asp-action="CreateProduct" asp-route-farmerId="@ViewBag.farmerId" method="post">
    <div class="mb-3" >
        <label for="" class="form-label">Product Name</label>
        <input type="text" class="form-control" asp-for="ProductName"/>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Product Price</label>
        <input type="text" class="form-control" asp-for="ProductPrice" />
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Product Stock</label>
        <input type="number" class="form-control" asp-for="ProductStock" />
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Product Type</label>
        @*
            Code Attribution
            Simplilearn
            How to use a dropdownlist in asp.net web app
            URL: https://www.simplilearn.com/tutorials/asp-dot-net-tutorial/dropdownlist-in-asp-dot-net
            Accessed: 26 May 2023
        *@
        <select class="form-control" asp-for="ProductType">
            <option>Plant</option>
            <option>Livestock</option>
            <option>Livestock Byproduct</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

