@model PROG_POE_PART_2.Model.SignInOrUp
@{
    ViewData["Title"] = "Sign In";

}

<h1>Sign In</h1>
<form asp-controller="Home" asp-action="SignIn" method="post">
    <div class="mb-3" >
        <label for="" class="form-label">Username</label>
        <input type="text" class="form-control" asp-for="Username"/>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Password</label>
        <input type="text" class="form-control" asp-for="Password" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

